<nav class="navbar navbar-expand-lg bg-primary">
  <% if user_signed_in? || request.path == project_clients_path || request.path == projects_path %>
    <% if request.subdomain.present? %>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <%= link_to 'Project Client', project_clients_path, class: 'nav-link' , style: 'font-size: 20px;' %>
        </li>
      </ul>

      <% if ProjectClient.any? %>
        <ul class="navbar-nav">
          <%= link_to 'Projects', projects_path, class: 'nav-link' , style: 'font-size: 20px;' %>
        </ul>
      <% end %>
    <% else %>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <%= link_to 'Companies', companies_path, class: 'nav-link' , style: 'font-size: 20px;' %>
        </li>
      </ul>
    <% end %>

    <ul class="navbar-nav">
      <li class="nav-item active">
        <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: 'nav-link' , style: 'font-size: 20px;'   %>
				<%# <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: 'nav-link', style: 'font-size: 20px;' , onclick: "window.location.href = 'http://localhost:3000/login'" %> %>
      </li>
    </ul>

  <% else %>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <%= link_to 'Login', new_user_session_path, class: 'nav-link' , style: 'font-size: 20px;' %>
        </li>
      </ul>
   <% end %>
</nav>
