<p style="color: green"><%= notice %></p>


<h1>Companies</h1>

<div id="companies">
  <% @companies.each do |company| %>
    <%= render company %>
    <p>
      <%= link_to "Show this company", company %><br>
      <%= link_to "Sub Domain", "http://#{company.subdomain}.lvh.me:3000/project_clients" %>
     </p>
  <% end %>
</div>

<%= link_to "New company", new_company_path %>
