<div id="<%= dom_id project_client %>">
  <p>
    <strong>Name:</strong>
    <%= project_client.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= project_client.email %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= project_client.contact %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= project_client.address %>
  </p>

</div>
